# Ignore metadata from common editors and IDEs.
*.sublime-project
*.sublime-workspace
.idea/
nbproject/

# Ignore contrib modules, themes and libraries in the symlinked profiles folder.
profiles/multisite_drupal_*/libraries
profiles/multisite_drupal_*/modules/contrib
profiles/multisite_drupal_*/themes

# Ignore local configuration overrides.
build.properties.local
/phpcs.xml
/tests/balancer/*.yml
/tests/behat*.yml
/tests/*/behat*.yml
/tests/phpunit.xml

# Ignore build artifacts.
/bin/
/ssk
/ssk-*
/build/
/platform/
/.tmp/
vendor/
/resources/git/hooks/pre-push/phpcs
/composer.lock

# Ignore third party libraries that are placed inside module and theme folders
# during the build.
lib/profiles/*/themes/ec_resp/bootstrap/
lib/profiles/*/themes/ec_resp/scripts/html5shiv.min.js
lib/profiles/*/themes/ec_resp/scripts/jquery.mousewheel.min.js
lib/profiles/*/themes/ec_resp/scripts/respond.min.js
lib/profiles/*/libraries/fancybox/
lib/profiles/*/libraries/flexslider/
lib/profiles/*/libraries/fullcalendar/
lib/profiles/*/libraries/fullcalendar_resources/
lib/profiles/*/libraries/jplayer/
lib/profiles/*/libraries/jquery.imgareaselect/
lib/profiles/*/libraries/jquery/
lib/profiles/*/libraries/modernizr/
lib/profiles/*/libraries/plupload/
lib/profiles/*/modules/features/multisite_wysiwyg/ckeditor/skins/
lib/profiles/*/modules/custom/nexteuropa_newsroom/
